{% extends 'partials/base.html.twig' %}

{% block body %}


	<div class="w-section section">

		<div class="w-container container">

	 		<p>Because Timișoara’s got everything from garden dwarves to feisty nightlife options and delicious calorie-bomb pancakes (ask a local about the <strong>Clătite Bănăţene</strong>), and not to forget West Coast Swing enthusiasts, we are looking forward to welcoming you here in September.</p>

	 		<p>Check out some highlights and factoids below that'll get your started:</p>

	 	</div>
	 	<!-- /.w-container container alternateSection-->
	</div>
	<!-- /.w-section section -->


  <div class="w-section section alternateBgCovers firstFact">
		<div class="halfBg leftHalfBg">
			<div class="coverImageContainer">
				<img src="../{{page.slug}}/timisoara-little-vienna.jpg" alt="Little Vienna" />
			</div>
		</div>
			<!-- /.halfBg leftHalfBg -->
			<div class="w-container container halfBgContainer over-left">
				<h2>Little Vienna</h2>
				<p>Once called "<strong>Little Vienna</strong>", Timișoara is a diamond in the rough, with beautiful Baroque and Art Nouveau architecture that will steal your heart away and make you come back for more!</p>
			</div>
			<!-- /.w-container container -->
	</div>
	<!-- /.w-section section -->


	<div class="w-section section alternateBgCovers">
		<div class="halfBg rightHalfBg">
			<div class="coverImageContainer">
				<img src="../{{page.slug}}/the-timisoara-opera.jpg" alt="The Opera" />
			</div>
		</div>
			<!-- /.halfBg leftHalfBg -->
			<div class="w-container container halfBgContainer over-right">
				<h2>The Opera</h2>
				<p>The opera and the entrance ticket only cost 5 euros. That is, if you happen to get a ticket, as young people here are keen on culture and the shows are usually sold out.</p>
			</div>
			<!-- /.w-container container -->
	</div>
	<!-- /.w-section section -->


													<div class="w-section section alternateBgCovers">
		<div class="halfBg leftHalfBg">
			<div class="coverImageContainer">
				<img src="../{{page.slug}}/corvin-castle.jpg" alt="The best medieval castle in Transylvania!" />
			</div>
		</div>
			<!-- /.halfBg leftHalfBg -->
			<div class="w-container container halfBgContainer over-left">
				<h2>The best medieval castle in Transylvania!</h2>
				<p>The <strong>Corvin Castle</strong> is just 2 hours away from Timișoara, so have your mother pack you some garlic and ask a <a href="https://www.facebook.com/Timisoara.Tour.Guide" target="_blank">local guide</a> how to get there.</p>
			</div>
			<!-- /.w-container container -->
	</div>
	<!-- /.w-section section -->


													<div class="w-section section alternateBgCovers">
		<div class="halfBg rightHalfBg">
			<div class="coverImageContainer">
				<img src="../{{page.slug}}/muzeul-consumatorului-comunist-3289.jpg" alt="Communist Consumer&#039;s Museum" />
			</div>
		</div>
			<!-- /.halfBg leftHalfBg -->
			<div class="w-container container halfBgContainer over-right">
				<h2>Communist Consumer&#039;s Museum</h2>
				<p>Check out the <strong>Museum of the Communist Consumer</strong>, a wonderful apartment which even smells like the 80s. "Good Bye, Lenin!" reloaded.</p>
			</div>
			<!-- /.w-container container -->
	</div>
	<!-- /.w-section section -->


													<div class="w-section section alternateBgCovers">
		<div class="halfBg leftHalfBg">
			<div class="coverImageContainer">
				<img src="../{{page.slug}}/timisoara-center.jpg" alt="The Banat Area" />
			</div>
		</div>
			<!-- /.halfBg leftHalfBg -->
			<div class="w-container container halfBgContainer over-left">
				<h2>The Banat Area</h2>
				<p>The "Miniature Europe", a nickname for <strong>Banat</strong>, the area around Timișoara, known as the most multicultural and intercultural region in Romania. So you’re bound to feel at home, no matter where you actually come from.</p>
			</div>
			<!-- /.w-container container -->
	</div>
	<!-- /.w-section section -->


													<div class="w-section section alternateBgCovers">
		<div class="halfBg rightHalfBg">
			<div class="coverImageContainer">
				<img src="../{{page.slug}}/Johhny-Weissmuller-Tarzan.jpg" alt="Tarzan is originally from here" />
			</div>
		</div>
			<!-- /.halfBg leftHalfBg -->
			<div class="w-container container halfBgContainer over-right">
				<h2>Tarzan is originally from here</h2>
				<p>Timișoara is <strong>Johnny Weissmüller</strong>'s home town. He was the first actor ever to play Tarzan in Hollywood.</p>
			</div>
			<!-- /.w-container container -->
	</div>
	<!-- /.w-section section -->


													<div class="w-section section alternateBgCovers">
		<div class="halfBg leftHalfBg">
			<div class="coverImageContainer">
				<img src="../{{page.slug}}/Fabrica-de-Bere-TIMISOREANA.jpg" alt="Oldest Brewery in the Country - Check!" />
			</div>
		</div>
			<!-- /.halfBg leftHalfBg -->
			<div class="w-container container halfBgContainer over-left">
				<h2>Oldest Brewery in the Country - Check!</h2>
				<p>The oldest brewery in nowadays Romania is called <strong>Timișoreana </strong>(meaning literrally "From Timișoara"), and it's getting people in the mood since 1718!</p>
			</div>
			<!-- /.w-container container -->
	</div>
	<!-- /.w-section section -->


													<div class="w-section section alternateBgCovers">
		<div class="halfBg rightHalfBg">
			<div class="coverImageContainer">
				<img src="../{{page.slug}}/highspeed-internet.jpg" alt="Literally the fastest internet in the world" />
			</div>
		</div>
			<!-- /.halfBg leftHalfBg -->
			<div class="w-container container halfBgContainer over-right">
				<h2>Literally the fastest internet in the world</h2>
				<p>Based on Net Index report at the end of first half of 2013, <strong>Timișoara became the city with the highest download speed in the world</strong> (89.91 Mbps, while the second ranking city Vilnius had a download speed of 52.09 Mbps)! Our upload speed is not bad either, so you can share all those great pics you’ll take of Timișoara with your beloved ones at home.</p>
			</div>
			<!-- /.w-container container -->
	</div>
	<!-- /.w-section section -->


													<div class="w-section section alternateBgCovers">
		<div class="halfBg leftHalfBg">
			<div class="coverImageContainer">
				<img src="../{{page.slug}}/1989-timisoara-Piata.jpg" alt="The Place that Sparked the Revolution" />
			</div>
		</div>
			<!-- /.halfBg leftHalfBg -->
			<div class="w-container container halfBgContainer over-left">
				<h2>The Place that Sparked the Revolution</h2>
				<p>Timișoara is the place where the <strong>anti-communist revolution in Romania</strong> started back in <strong>1989</strong>. Oh, yes, we’ve even got a<strong> piece of the Berlin wall</strong> along with many bullet holes all over town. If you’re lucky, you may even spot some of our 19th century cannon balls!</p>
			</div>
			<!-- /.w-container container -->
	</div>
	<!-- /.w-section section -->


													<div class="w-section section alternateBgCovers">
		<div class="halfBg rightHalfBg">
			<div class="coverImageContainer">
				<img src="../{{page.slug}}/espresso-coffee.jpg" alt="Where Espresso Coffee was Invented" />
			</div>
		</div>
			<!-- /.halfBg leftHalfBg -->
			<div class="w-container container halfBgContainer over-right">
				<h2>Where Espresso Coffee was Invented</h2>
				<p><strong>Ferenc </strong>(aka <strong>Francesco</strong>) <strong>Illy</strong>, founder of the Illy coffee brand and inventor of the <strong>first automatic coffee machine</strong> (the predecessor of today's espresso machine), was born and raised right here in Timișoara. Mmmm, steamy coffee in our Union Square will make your day!</p>
			</div>
			<!-- /.w-container container -->
	</div>
	<!-- /.w-section section -->


													<div class="w-section section alternateBgCovers">
		<div class="halfBg leftHalfBg">
			<div class="coverImageContainer">
				<img src="../{{page.slug}}/mossy-swamp-romania.jpg" alt="Swampy Goodness" />
			</div>
		</div>
			<!-- /.halfBg leftHalfBg -->
			<div class="w-container container halfBgContainer over-left">
				<h2>Swampy Goodness</h2>
				<p>We have the greenest swamp in Romania and you can enjoy a cool cocktail in a hammock on one of its shores.</p>
			</div>
			<!-- /.w-container container -->
	</div>
	<!-- /.w-section section -->


													<div class="w-section section alternateBgCovers">
		<div class="halfBg rightHalfBg">
			<div class="coverImageContainer">
				<img src="../{{page.slug}}/timisoara-center-metal-map.jpg" alt="Visit Three Empires at Once" />
			</div>
		</div>
			<!-- /.halfBg leftHalfBg -->
			<div class="w-container container halfBgContainer over-right">
				<h2>Visit Three Empires at Once</h2>
				<p>Timisoara was,  in turn, part of the The <strong>Ottoman Empire</strong>, the <strong>Holy Roman Empire</strong> and the <strong>Austro-Hungarian Empire</strong> during it's long history. And they all left their mark on the city.</p>
			</div>
			<!-- /.w-container container -->
	</div>
	<!-- /.w-section section -->


													<div class="w-section section alternateBgCovers lastFact">
		<div class="halfBg leftHalfBg">
			<div class="coverImageContainer">
				<img src="../{{page.slug}}/Romanian_Opera_House-Timisoara.jpg" alt="Competing for 2021 European Capital of Culture" />
			</div>
		</div>
			<!-- /.halfBg leftHalfBg -->
			<div class="w-container container halfBgContainer over-left">
				<h2>Competing for 2021 European Capital of Culture</h2>
				<p>Timișoara is currently competing to become a <strong>European Capital of Culture for the year 2021</strong>. Be a part of this culture hub, enjoy its spirit, and keep your fingers crossed!</p>
			</div>
			<!-- /.w-container container -->
	</div>
	<!-- /.w-section section -->


	<div class="w-section section">

		<div class="w-container container">

	 		<p>We really hope we've managed to pique your interest in our beautiful city and we hope to see you all soon!</p>

	 	</div>
	 	<!-- /.w-container container alternateSection-->
	</div>
	<!-- /.w-section section -->

{% endblock %}
