{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}{# do assets.addCss('http://yui.yahooapis.com/pure/0.6.0/pure-min.css', 100) #}
        {% do assets.addCss('theme://css/normalize.css', 100) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css/webflow.css', 98) %}
        {% do assets.addCss('theme://css/citadel-swing.webflow.css', 97) %}
        {% do assets.addCss('theme://css/custom.css', 96) %}
        
        
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js', 101) %}
        {% do assets.addJs('theme://js/modernizr.js', 100) %}
        {% do assets.addJs('https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js', 100) %}
        {% do assets.addJs('theme://js/webflow.js', 100) %}
    {% endblock %}
    {{ assets.js() }}
	<script>
		WebFont.load({
			google: {
				families: ["Oswald:300,400,700","Montserrat:400,700"]
			}
		});
	</script>
	
{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">
{% block header %}
	<div data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" data-doc-height="1" data-ix="hide-scroll-nav" class="w-nav mobilenav">
		<div class="w-container">
			<a href="/" class="w-nav-brand brand floating"><img width="175" src="{{ theme_url }}/images/logo-small-white2.png" class="floating-nav-logo" alt="Citadel Swing logo"></a>
			<nav class="w-nav-menu nav-menu">
				<a href="#home" class="w-nav-link main-menu-item float">Home</a>
				<div class="w-dropdown" data-delay="0">
					<div class="main-menu-item w-dropdown-toggle float">
						<div>Info</div>
						<div class="w-icon-dropdown-toggle"></div>
					</div>
					<nav class="menu-dropdown-list w-dropdown-list" >
						<a class="main-menu-item subitem w-dropdown-link" href="/schedule">Schedule</a>
						<a class="main-menu-item subitem w-dropdown-link" href="/faqs">FAQs</a>
						<a class="main-menu-item subitem w-dropdown-link" href="/the-plan">The Plan</a>
						<a class="main-menu-item subitem w-dropdown-link" href="/prices">Prices</a>
					</nav>
				</div>
				<a href="/about-the-city-timisoara" class="w-nav-link main-menu-item float">The City</a>
				<a href="/marketplace" class="w-nav-link main-menu-item float">Marketplace</a>
				<a href="/order" class="w-nav-link main-menu-item float">Buy Tickets</a>
				<a href="/#join-us" class="w-nav-link main-menu-item float">Join Us</a>
			</nav>
			<div class="w-nav-button main-menu-mobile-button">
				<div class="w-icon-nav-menu main-menu-icon"></div>
			</div>
		</div>
	</div>
	<!-- / mobile menu -->

	<div data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" data-doc-height="1" data-ix="scroll-nav" class="w-nav navbar">
		<div class="w-container">
			<a class="brand w-nav-brand" href="/"><img src="{{ theme_url }}/images/logo-small-white2.png" width="254" alt="Citadel Swing logo"></a>
			<nav class="nav-menu w-nav-menu">
				<a class="main-menu-item w-nav-link" href="#home">Home</a>
				<div class="w-dropdown" data-delay="0">
					<div class="main-menu-item w-dropdown-toggle">
						<div>Info</div>
						<div class="w-icon-dropdown-toggle"></div>
					</div>
				    <nav class="menu-dropdown-list w-dropdown-list">
				    	<a class="main-menu-item subitem w-dropdown-link" href="/schedule">Schedule</a>
				    	<a class="main-menu-item subitem w-dropdown-link" href="/faqs">FAQs</a>
				    	<a class="main-menu-item subitem w-dropdown-link" href="/the-plan">The Plan</a>
				    	<a class="main-menu-item subitem w-dropdown-link" href="/prices">Prices</a>
					</nav>
				</div>
				<!-- <a class="main-menu-item w-nav-link" href="/#the-plan">The Plan</a> -->
				<a class="main-menu-item w-nav-link" href="/about-the-city-timisoara">The City</a>
				<a  class="w-nav-link main-menu-item" href="/marketplace">Market</a>
				<a class="main-menu-item w-nav-link" href="/order">Buy Tickets</a>
				<a class="main-menu-item w-nav-link" href="/#join-us">Join Us</a>
			</nav>
			<div class="main-menu-mobile-button w-nav-button">
				  <div class="main-menu-icon w-icon-nav-menu"></div>
			</div>
		</div>
		<!-- /.w-container -->
	</div>
	<!-- /.w-nav navbar -->
{% endblock %}

{% block hero %}
	<div class="w-section hero">
		<div id="home" data-ix="scroll-nav" class="big-logo-bg">
			<div class="w-container">
			
				{% block herocontent %}
				{% endblock %}

			</div>
			<!-- /.w-container -->
		</div>
		<!-- /.big-logo-bg -->
	</div>
	<!-- /.hero -->
{% endblock %}

<main>
{% block body %}

{% endblock %}
</main>

{% block footer %}

<div class="w-section section footerSection">
	<div class="w-container">
		<footer>
			<!-- <div class="footerMenu">
				<a href="#home" class="float">Home</a>
				<a href="#the-plan" class="float">The Plan</a>
				<a href="#pricing" class="float">Buy Tickets</a>
				<a href="#join-us" class="float">Join Us</a>
			</div> -->
			<p>Copyright &copy;2017 <a href="https://www.facebook.com/SwinginStepsTimisoara/" target="_blank">Swingin Steps</a>. All rights reserved</p>
		</footer>
	</div>
	<!-- /.w-container -->
</div>
<!-- w-section section footerSection -->

{% endblock %}

</body>
